*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: 1.7;
    background: var(--light-text);
}

p{
    font-weight: 400;
    font-size: 1.5rem;
}

span{
    color: turquoise;
}

a{
    font-size: 1.6rem;
    text-decoration: none;
    font-weight: 400;
}

ul li{
    list-style: none;
}

p, li{
    font-size: 1rem;
    margin-bottom: 0.5em;
    letter-spacing: 0.25em;
}

h1, h2, h3{
    font-size: 3rem;
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
    font-weight: 500;
}

:root{
    --bg-color: #6f9fdc;
    --light-text: #f4f4f4;
    --black-text: #333333;
    --grey-text: #555555;
    --red-text: #e63946;
}

/* -------------------------- Utility Classes ----------------------------------*/

.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.lg-heading{
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 600;
}

.md-heading{
    font-size: 2.5rem;
    font-weight: 500;
}

.light-text{
    color: var(--light-text);
}

.black-text{
    color: var(--black-text);
}

.grey-text{
    color: var(--grey-text);
}

.red-text{
    color: var(--red-text);
}

.btn-primary{
    font-size: 1.3rem;
    display: inline-block;
    text-transform: uppercase;
    color: var(--red-text);
    background: #fff;
    font-weight: 500;
    letter-spacing: 0;
    padding: 1em;
    margin: 1em 0;
    border-radius: 100px;
}

.btn-primary:hover{
    background-color: #fcf2f3;
}

.btn-secondary{
    display: inline-block;
    text-transform: uppercase;
    color: var(--red-text);
    background: #fff;
    font-weight: 500;
    padding: 0.5em 1em;
    margin: 1em 0;
    border-radius: 100px;
    border: 2px solid var(--red-text);
}

.btn-secondary:hover{
    background-color: #fcf2f3;
}
/* -------------------------- Header Styling -----------------------------*/

.header{
    height: 95vh;
}

.header-home{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../practice/images/header-image.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar{
    padding: 2rem;
}

.header .navbar .logo{
    float: left;
    font-size: 3.5em;
    color: var(--light-text);
}

.header .navbar .navitem{
    float: right;
    margin-right: 1em;
    text-transform: uppercase;
    color: var(--light-text);
}

.header .navbar .navitem:hover{
    border-bottom: 2px solid var(--light-text);
}

header nav ul{
    margin-top: 1rem ;
}

header nav ul li{
    display: inline;
}

.navbar::after{
    content: "";
    display: block;
    clear: both;
}

.header-content .header-heading{
    font-size: 3.5rem;
}

.header-content .content{
    font-size: 1.5rem;
}

.header-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: linear-gradient(rgba(0, 0 ,0, 0.2), rgba(0, 0, 0, 0.2));
}

.showcase{
    background: var(--light-text);
    padding: 10rem 0;
}

.showcase-box{
    height: 350px;
    margin-bottom: 5em;
    box-shadow: 0px 0px 20px 0px #aaa;
}

.showcase-box::after{
    content: "";
    clear: both;
    margin: 0 auto;

}

.img-box, .text-box{
    height: 100%;
}

.img-box img{
    display: inline;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.text-box{
    padding: 2em;
    background-color: #fff;
}

.text-box p{
    letter-spacing: 0.1em;
    font-size: 1.2rem;
}

.row1 .img-box,
.row2 .text-box {
    width: 50%;
    float: left;
}

.row2 .img-box,
.row1 .text-box {
    width: 50%;
    float: right;
}

.features{
    padding: 10em 0;

}

.box-wrapper{
    box-shadow: 5px 5px 20px 0 #000000ac ;
}

.box-wrapper::after{
    content: "";
    display: block;
    clear: both;
}

.feature-box{
    float: left;
    width: 33.3333333333%;
    text-align: center;
    padding: 2rem;
}

.box-1 i, .box-3 i{
    font-size: 2rem;
    color: var(--red-text);
}

.box-2 i{
    font-size: 2rem;
    color: var(--light-text);
}

.box-1, .box-3{
    background-color: #26323f;
    color: #fff;
}

.box-2{
    color: #fff;
    background: linear-gradient(25deg, #d64c7f, #ee4758 50%);
}

.feature-text{
    font-size: 1.3rem;
    letter-spacing: 0.15em;
}

/* ############################ Footer ################################### */

.footer{
    background-color: #26323f;
    color: #fff;
    text-align: center;
}

.icon{
    font-size: 3.5rem;
    margin: 2rem 1.5rem;
}

.icon:hover{
    color: var(--red-text);
    transform: scale(1.3);
}

.footer p{
    font-size: 1.3rem;
    font-weight: 600;
    padding-bottom: 2rem;
}


/* ################### About Header ############################# */

.about-header{
    height: 95vh;
    background: #26323f;
    height: 100px;
}

.about-navbar{
    position: sticky;
    top: 10px;
    padding: 1rem;
}

.about-navbar::after{
    content: "";
    display: block;
    clear: both;
}

.about-navbar .navitem{
    float: right;
    margin-right: 1em;
    margin-top: 0.5em;
    text-transform: uppercase;
    color: var(--light-text);
}

.about-navbar .navitem:hover{
    border-bottom: 2px solid #fff;
}

.about-navbar .logo{
    float: left;
    font-size: 3.5rem;
    margin-top: 1rem;
    color: var(--light-text);
}

.about-header .about-navbar ul li{
    display: inline;
}

.about-header .about-navbar ul{
    margin-top: 1rem ;
}

.about-heading{
    margin-top: 3rem;
    border-bottom: 5px solid var(--red-text);
}

.about-content{
    font-size: 1.3rem;
    letter-spacing: 0.1em;
}

.checkbox{
    margin-top: 2rem;
    text-align: center;
}


.checkbox::after{
    content: "";
    display: block;
    clear: both;
}

.checkitem::before{
    content: '\2713' ;
    font-size: 1.2rem;
    padding-right: 1rem;
    font-weight: bold;
    color: var(--red-text);
}

.checkbox-1{
    float: left;
    width: 50%;
}

.checkbox-2{
    float: right;
    width: 50%;
}

.about-features{
    text-align: center;
    margin-top: 2rem;
}

.about-features::after{
    content: "";
    display: block;
    clear: both;
}

.about-feature{
    float: left;
    width: 25%;
}

.about-feature .feature-heading{
    color: var(--red-text);
    font-weight: bold;
    margin: 0;
}

.about-feature .feature-content{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--grey-text);
}

.about-footer{
    background: linear-gradient(25deg, #d64c7f, #ee4758 50%);
    color: #f4f4f4;
    padding: 1rem;
    margin: 2rem 0;
    box-shadow: 5px 5px 10px #00000057;
}

.about-footer::after{
    content: "";
    display: block;
    clear: both;
}

.footer-content{
    width: 60%;
    float: left;
}

.footer-line{
    font-weight: 700;
    font-size: 1.6rem;
    margin: 1.5rem 0 0 2rem;
}

.btn-cta{
    width: 40%;
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    border: 4px solid white;
    display: inline-block;
    text-align: center;
    letter-spacing: 0.15em;
    margin-bottom: 0;
    background: linear-gradient(25deg, #d64c7f, #ee4758 50%);
}

.btn-cta:hover{
    transform: scale(1.03);
    transition: 0.3s ease-in-out;
}


/* ################### Contact US ############################# */

.contact-header{
    background: #26323f;
    height: 100px;
}

.contact-us{
    height: 760px;
    margin: 5rem auto;
}

.contact-us::after{
    content: "";
    display: block;
    clear: both;
}

.left-contact{
    height: 760px;
    background: #fff;
    width: 49%;
    float: left;
}

.ctn-text{
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 0.1em;
    margin: 0 0 0 1rem;
}

.ctn-heading{
    margin: 1rem 0 0 0;
    text-transform: uppercase;
}

.ctn-img-box{
    margin: 2rem;
    min-height: 45rem;
    max-width: 90%;
    object-fit: cover;
    object-position: right;
}

.icon-ctn{
    color: var(--red-text);
    margin: 1rem;
}

.right-contact{
    height: 760px;
    width: 49%;
    float: right;
}

.right-ctn-heading {
    padding: 1rem 0 1rem 0;
}

.form{
    padding: 0 1rem;
    height: 760px;
    font-size: 1.6rem;
    background: #fff;
}

.form h1::after{
    content: ' ';
    display: block;
    border: 3px solid red;
    width: 100%;
}

.form label{
    display: block;
}
 .form label::after{
    content: '*';
    color: var(--red-text);
 }

.form input{
    padding: 0.5rem;
    width: 100%;
}

.form textarea{
    height: 300px;
    width: 100%;
    padding: 1rem;
}

.form-btn{
    display: block;
    margin: 0 auto;
    padding: 0.5rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: var(--light-text);
    background: var(--red-text);
    outline: none;
    border: none;
    cursor: pointer;
}